[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nlmixr2autoinit"]
	path = nlmixr2autoinit
	url = https://github.com/ucl-pharmacometrics/nlmixr2autoinit
